/*
Defines custom CSS styling applied to all pages

Citation for:
-  MDL styling fix for MDL Icon Graphics
Scope: Line
Date Accessed: July 25th, 2023
Accessed by: Havensw
Adapted from solution:
-   Source URL: https://github.com/angular/material/issues/3776

Citation for:
-  MDL styling fix for database reload Icon with text
Scope: Line
Accessed by: Havensw
Date Accessed: July 25th, 2023
Copied from solution:
-   Source URL: https://stackoverflow.com/questions/39907145/align-material-icon-with-text-on-materialize

*/
:root {
    --primcol1 : #9fa8d3;
    --hovercol1 : #eae0cf;
    --hovercol2 : #deefe4;
    --row_col1: #f8f0e5;
    --row_col2: #edf8f1;
    --bg_col_slate: #30363b;
    --bg_col_light: #9b6464;
    --bg_col_personal_card: #9ea49b;
    --link_color: #0b30b0;
    --link_hover: #af4aef;
    --border_highlight: #ffffff;
}

.body {
    background-color: var(--bg_col_slate) !important;
}

.mdl-layout__drawer-button {
    display: none;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: baseline;
    flex-wrap: wrap;
    width: 100%;
    height : 90vh;
    overflow: auto;
    position: fixed;
}
.mdl-layout {
    background-color: var(--bg_col_slate);
    overflow-y: hidden;
}

.mdl-layout__header {
    background-color: var(--primcol1);
    border-bottom: 1px solid var(--border_highlight);
    color: #000000;
}

div.mdl-layout__drawer.is-visible {
    background-color: var(--primcol1);
    color: #000000;
    border-right-color: var(--border_highlight);
}
.mdl-layout__drawer-button {
        color: #000000;
}


.mdl-layout__header-row .mdl-navigation__link {
    color: #000000;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #000000;
}

 /* These two handle fixing the blue bar when user clicks an input field: */
.mdl-textfield__label {
    overflow: visible;
}
.mdl-textfield__label:after {
    bottom: 0;
}

 /* Fix <input> field so it justifies left and no padding*/
.mdl-textfield {
    display : flex;
    padding: 0;
}

/* default was 16px */
.mdl-textfield__input {
    font-size: 14px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: var(--hovercol1) !important;
}

/* This is the default behavior for the the <table card> containers */
.table_data.mdl-card {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: 48vw;
    min-width: 750px;
    border-radius: 4px;
}


.table_left {
    background-color: var(--bg_col_light);
}

.table_right {
    background-color: var(--bg_col_personal_card);
}

.mdl-data-table {
    width: 100%;
}

/* Table header custom CSS */
/*.mdl-data-table.th-right-align th {*/
/*    text-align: right;*/
/*}*/

 /*Make data tables almost fill their card container*/
.mdl-card__supporting-text {
    width: 97%;
}

.mdl-data-table th {
    text-align: left;
    background-color: var(--primcol1);
    font-size: medium;
    padding-left: 15px !important;
    padding-right: 5px
}



td {
    color: black;
    text-align: left !important;
}

/* Make table rows iterate on colors */
tr:nth-child(even) {
    background-color: var(--row_col1);
}
tr:nth-child(odd) {
    background-color: var(--row_col2);
}
tr:nth-child(even):hover {
    background-color: var(--hovercol1) !important;
}
tr:nth-child(odd):hover {
    background-color: var(--hovercol2) !important;
}



/*General main background color*/

/* footer css */
.mdl-mini-footer {
    border-top: 1px solid var(--border_highlight);
    position: absolute;
    left: 0px; bottom: 0px;
    z-index: 2;
    width: 100vw;
    background-color: var(--primcol1);
    color: black;
    margin: 0 0 0 0;
    padding: 0;
    max-height: 5vh;
    overflow: hidden;
}
/*footer to apply to smaller width devices*/
.mdl-mini-footer--link-list, .mdl-mini-footer__link-list {
    max-height: 4vh;
    overflow: hidden;
}
/*Applies to text vertical alignment in the footer*/
ul, ol {
    line-height: 12px;
}

/* <a class="view_link"> hyper link text colors */
.view_link {
  text-decoration: none;
    color: var(--link_color);
    font-size: medium;
}
.view_link:hover {
  color: var(--link_hover);
}

.mdl-button:hover {
    background-color: rgba(255, 255, 255, .5);
    color: var(--link_hover);
}

td p {
    color: #000000;
}

select {
    width: 100%;
    font-size: 18px;
    border: 1px solid var(--bg_col_personal_card);
    border-radius: 4px;
}


/* Styling for "single item" pages */

/*This is a div container for the 3 "cards" for
 itemPage, charPage, dungeonPage, etc*/
.single_attribute_container {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}

.single_attribute_container_char_page {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15vw;
    row-gap: 15vh;
}

.single_attribute_container > * {
    width: 30%;
}

.single_attribute_container_char_page > * {
    width: 30%;
}

.mdl-card-attribute:nth-child(3n+1) {
    background-color: var(--row_col1);
    width: 500px; 
}

.mdl-card-attribute:nth-child(3n+2) {
    background-color: var(--hovercol2);
    width: 500px;    
}

 /* This is the third card container, usually the INSERT container on the bottom*/
.table_left:nth-child(3) {
    background-color: #a8c4bc;
}

.mdl-card-attribute:nth-child(3n+3) {
    background-color: var(--bg_col_personal_card);
}

/*
MDL styling fix from:
https://github.com/angular/material/issues/3776
Date accessed: July 28th, 2023
Havensw
*/
.material-icons.md-36 {
font-size: 36px !important;
height: 36px !important;
width: 36px !important;
}
/* Define custom class widths for input fields */
.mdl-textfield__input {
    color: #000000;
}

.mdl-textfield.fattest {
    width: 200px;
}
.mdl-textfield.fatter {
    width: 150px;
}
.mdl-textfield.fat {
    width: 100px;
}
.mdl-textfield.normal {
    width: 75px;
}
.mdl-textfield.thin {
    width: 50px;
}
.mdl-textfield.thinner {
    width: 30px;
}

@media (max-width: 750px){
    .table_data.mdl-card {
        position: static;
        width: 95vw;
        min-width: 80vw;
        overflow: auto;
    }


}
@media (max-width: 1800px){

    .mdl-layout__drawer-button {
        display: inline;
        color: var(--border_highlight);
    }


    .mdl-mini-footer {
        position: absolute;
        left: 0px; bottom: 0px;
    }

    .navbar-credits,
    .navbar-vertical-spacer {
        display: none;
    }

    ul, ol {
        font-size: 10px;
    }

    .page-content {
        height: 100vh;
        position: relative;
        overflow: scroll;
    }

    .mdl-data-table th {
        font-size: 14px;
        width: 0;
        padding: 0 !important;
    }
    td{
        padding: 10px 0 10px 4px !important;
        /*border: 1px solid var(--hovercol1);*/
    }

    .mdl-button:not(.delete) {
        /*display: flex;*/
        width: 90px;
    }

    input {
        font-size: 14px !important;
    }

    .mdl-textfield.fatter {
        width: calc(150px / 1.4);
    }
    .mdl-textfield.fat {
        width: calc(100px / 1.4);
    }
    .mdl-textfield.normal {
        width: calc(75px / 1.4);
    }
    .mdl-textfield.thin {
        width: calc(50px / 1.4);
    }
    .mdl-textfield.thinner {
        width: calc(30px / 1.2);
    }
}

 /* Fine tailored element/page specific CSS below */

/* Fix for <tables> that have <tr> and <form> as children */
/* tr class="tr_with_forms" */
tr.tr_with_forms:nth-child(4n) {
    background-color: var(--row_col2);
}
tr.tr_with_forms:nth-child(4n):hover {
    background-color: var(--hovercol2) !important;
}


.intro-ul-list {
    color: #1f1e1e;
}

.intro-ul-list {
    font-size: larger;
    line-height: 25px;
}


 /*This is for the reload database on bottom of navbar*/
/*https://stackoverflow.com/questions/39907145/align-material-icon-with-text-on-materialize
Date accessed: July 28th, 2023
Havensw
*/
.inline-icon {
   vertical-align: middle;
   font-size: 18px !important;
}
.inline-icon:hover {
   color: var(--link_hover);
}
a[title="RELOAD DATABASE"]:hover {
  color: var(--link_hover);
}

.mdl-data-table #index_th_set_username {
    text-align: center;
}

#index_td_set_username {
    display: flex;
    justify-content: center;
}

#db_reloader_bar {
    display: inline-block;
    align-self: flex-end;
    /*font-size: 24px !important;*/
    width: 100px;
}

.table_left_inventories {
    padding-top: 6px;
    padding-bottom: 0px;
}

.flash_box {
    /*padding: 5px;*/
    /*display: flex;*/
    width: 400px;
    justify-content: center;
    align-items: center;
}

.info {
    color: #545454;
}

.success {
    color: #177a00;
}

.error {
    color: #c70000;
}

.char_details {
    margin: 12px;
}
