:root {
    --primcol1 : #9fa8d3;
    --hovercol1 : #fac790;
    --hovercol2 : #add0ac;
    --row_col1: #f3ebde;
    --row_col2: #ddece2;
    --bg_col_dark: #7a4444;
    --bg_col_light: #9b6464;
    --bg_col_personal_card: #9ea49b;
    --link_color: #0b30b0;
    --link_hover: #af4aef;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    min-height : 80vh;
    overflow: auto;
}

.mdl-layout__header {
    background-color: var(--primcol1);
    color: #000000;
}

div.mdl-layout__drawer.is-visible {
    background-color: var(--primcol1);
    color: #000000;
}
.mdl-layout__drawer-button {
        color: #000000;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: #000000;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #000000;
}

 /* These two handle fixing the blue bar when user clicks an input field: */
.mdl-textfield__label {
    overflow: visible;
}
.mdl-textfield__label:after {
    bottom: 0;
}

 /* Fix <input> field so it justifies left and no padding*/
.mdl-textfield {
    display : flex;
    padding: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: var(--hovercol1) !important;
}

/* This is the default behavior for the the <table card> containers */
.table_data.mdl-card {
    margin-top: 25px;
    width: 49vw;
    min-width: 750px;
    border-radius: 4px;
}


.table_left {
    background-color: var(--bg_col_light);
}

.table_right {
    background-color: var(--bg_col_personal_card);
}

.mdl-data-table {
    width: 100%;
}

/* Table header custom CSS */
.mdl-data-table.th-right-align th {
    text-align: right;
}

.mdl-data-table th {
    text-align: left;
    background-color: var(--primcol1);
    font-size: medium;
    padding-left: 15px !important;
    padding-right: 5px
}

td {
    color: black;
}

/* Make table rows iterate on colors */
tbody:nth-child(even) {
    background-color: var(--row_col1);
}
tr:nth-child(odd) {
    background-color: var(--row_col2);
}
tr:hover {
    background-color: var(--hovercol1) !important;
}
tr:nth-child(odd):hover {
    background-color: var(--hovercol2) !important;
}

/*General main background color*/

.mdl-layout__content {
        background-color: var(--bg_col_dark);
}

.mdl-layout {
    background-color: var(--bg_col_dark);
}

/* footer css */
.mdl-mini-footer {
    background-color: var(--primcol1);
    color: black;
    margin: 25px 0 0 0;
    padding: 0;
}

/* <a class="view_link"> hyper link text colors */
.view_link {
  text-decoration: none;
    color: var(--link_color);
    font-size: medium;
}
.view_link:hover {
  color: var(--link_hover);
}

.mdl-button:hover {
    background-color: rgba(255, 255, 255, .5);
    color: var(--link_hover);
}

td p {
    color: #000000;
}




/* Styling for "single item" pages */

/*This is a div container for the 3 "cards" for
 itemPage, charPage, dungeonPage, etc*/
.single_attribute_container {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}

.single_attribute_container > * {
    width: 30%;
}

.mdl-card-attribute:nth-child(3n+1) {
    background-color: var(--row_col1);
}

.mdl-card-attribute:nth-child(3n+2) {
    background-color: var(--hovercol2);
}

.mdl-card-attribute:nth-child(3n+3) {
    background-color: var(--bg_col_personal_card);
}

/*https://github.com/angular/material/issues/3776*/
.material-icons.md-36 {
font-size: 36px !important;
height: 36px !important;
width: 36px !important;
}


 /*This is for the reload database on bottom of navbar*/
/*https://stackoverflow.com/questions/39907145/align-material-icon-with-text-on-materialize*/
.inline-icon {
   vertical-align: middle;
   font-size: 24px !important;
}
.inline-icon:hover {
   color: var(--link_hover);
}
a[title="RELOAD DATABASE"]:hover {
  color: var(--link_hover);
}






/* Define custom class widths for input fields */
.mdl-textfield__input {
    color: #000000;
}

.mdl-textfield.fattest {
    width: 200px;
}

.mdl-textfield.fatter {
    width: 150px;
}
.mdl-textfield.fat {
    width: 100px;
}
.mdl-textfield.normal {
    width: 75px;
}
.mdl-textfield.thin {
    width: 50px;
}
.mdl-textfield.thinner {
    width: 30px;
}
@media (max-width: 1800px){
    .mdl-data-table th {
        font-size: 14px;
        width: 0;
        padding: 0 !important;
    }
    td{
        padding: 10px 0 10px 4px !important;
        /*border: 1px solid var(--hovercol1);*/
    }

    .mdl-button:not(.delete) {
        /*display: flex;*/
        width: 90px;
    }

    input {
        font-size: 14px !important;
    }

    .mdl-textfield.fatter {
        width: calc(150px / 1.4);
    }
    .mdl-textfield.fat {
        width: calc(100px / 1.4);
    }
    .mdl-textfield.normal {
        width: calc(75px / 1.4);
    }
    .mdl-textfield.thin {
        width: calc(50px / 1.4);
    }
    .mdl-textfield.thinner {
        width: calc(30px / 1.2);
    }
}

