<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- Link in MDL CSS: -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_v2.css') }}">
</head>
<body>

<!-- START MDL LAYOUT   -->
<div class="mdl-layout mdl-js-layout">


    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Dungeons and Dragons Character Manager</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/index.html">userAccounts</a>
                <a class="mdl-navigation__link" href="/charPage.html">Spells/Abilities</a>
                <a class="mdl-navigation__link" href="/items.html">itemPage</a>
                <a class="mdl-navigation__link" href="/charSelection.html">charSelection</a>
                <a class="mdl-navigation__link" href="/dungeonSelection.html">dungeonSelection</a>
                <a class="mdl-navigation__link" href="/itemSelection.html">itemSelection</a>
            </nav>
        </div>
    </header>


    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">D&D Manager</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/index.html">User_Accounts</a>
            <a class="mdl-navigation__link" href="/charPage.html">Spells/Abilities</a>
            <a class="mdl-navigation__link" href="/items.html">itemPage</a>
            <a class="mdl-navigation__link" href="/charSelection.html">charSelection</a>
            <a class="mdl-navigation__link" href="/dungeonSelection.html">dungeonSelection</a>
            <a class="mdl-navigation__link" href="/itemSelection.html">itemSelection</a>
        </nav>
    </div>


    <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}
            {% endblock %}
        <!--   DIV END MDL class="page-content"-->
        </div>
    <!-- main END class="mdl-layout__content"-->
    <!-- main END class="mdl-layout__content"-->
    </main>




    <footer class = "mdl-mini-footer">
        <div class = "mdl-mini-footer__left-section">
            <div class = mdl-mini-footer__link-list>
                <ul>CS 340 Summer 2023 Final Project: Joseph Houghton, Lauren Norman Schueneman, Wesley Havens</ul>
                <ul>|</ul>
                <ul>
                    <a href="/reload_the_db" title="RELOAD DATABASE">
                        <i class="inline-icon material-icons">refresh</i>
                        &nbsp&nbsp&nbspReload Database</a>
                </ul>
            </div>
        </div>
    </footer>


    <!-- END MDL LAYOUT   -->
    </div>

    <!-- Link in MDL JS: -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Link in custom JS for button binds and handling other front end stuff -->
    <script src="{{ url_for('static', filename='UI_logic.js') }}"></script>
</body>
</html>