<!-- Every page utilizes base_v2.html -->
{% extends "base_v2.html" %}
{% block title %}
    Character Selection:   displays 1-2 tables, one of all characters from all users on the site, and another for characters made from a sole selected user. If the user is not selected, then only the "all characters" table displays. This page also allows for insertion into the Characters table, as well as updates and deletes.
{% endblock %}

{% block content %}
<!-- This is the template to display UX for Characters Table -->
<div class="table_data table_left mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">All Characters</h2>	
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Creature Type</th>
                    <th>Alignment</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
            <!-- Build HTML table for Characters -->
            {% for char in all_chars %}
            <form action="/charSelection.html" method="POST">
                <tr char_id="{{char[0]}}" class="tr_with_forms">
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input
                            class="mdl-textfield__input"
                            type="text"
                            name="char_name"
                            value="{{char[1]}}">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield thin mdl-js-textfield">
                            <input
                            class="mdl-textfield__input"
                            type="text"
                            name="char_race"
                            value="{{char[2]}}"
                            >
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input
                            class="mdl-textfield__input"
                            type="text"
                            name="char_class"
                            value="{{char[3]}}">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input
                            class="mdl-textfield__input"
                            type="text"
                            name="char_type"
                            value="{{char[4]}}">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield fat mdl-js-textfield">
                            <input
                            class="mdl-textfield__input"
                            type="text"
                            name="char_alignment"
                            value="{{char[5]}}">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <button class="mdl-button delete mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        type="submit"
                        name="button_press"
                        value="d{{char[0]}}"
                        >
                        <i class="material-icons md-18">close</i>
                        </button>
                    </td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        type="submit"
                        name="button_press"
                        value="u{{char[0]}}"
                        >
                            Update
                        </button>
                    </td>
                    <td>
                        <a class="view_link" href="/charPage.html/char_id={{char[0]}}">View</a>
                    </td>
                </tr>
            </form>
            {% endfor %}
            </tbody>	
        </table>
    </div>
</div>

<!-- Build personalized right panel if username passed from Flask app -->
{% if username %}
<div class="table_data table_right mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">{{username}}'s Characters</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table th-right-align mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Char Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Type</th>
                    <th>Alignment</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
            <!-- Populate rows of user's dungeons only if they have Characters -->
            {% if user_chars %}
                {% for user_char in user_chars %}
                    <tr>
                        <td>
                            {{user_char[1]}}
                        </td>
                        <td>
                            {{user_char[2]}}
                        </td>
                        <td>
                            {{user_char[3]}}
                        </td>
                        <td>
                            {{user_char[4]}}
                        </td>
                        <td>
                            {{user_char[5]}}
                        </td>
                        <td>
                            <a class="view_link" href="/charPage.html/char_id={{user_char[0]}}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<!-- Otherwise show table prompting to select a user for this view -->
{% else %}
<div class="table_data table_right mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Select a User to view their Characters</h2>
    </div>
</div>
{% endif %}

<!-- Build INSERT form for Characters -->
<div class="table_data table_left mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Create a New Character:</h2>	
    </div>
    <div class="mdl-card__supporting-text">
	{% if not username %}
	    <h5 class="mdl-card__title-text">Select a User to add a Character to that User</h5>
	{% endif %}
	<form action="/charSelection.html" method="POST">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Type</th>
                    <th>Alignment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="mdl-textfield fat mdl-js-textfield">
                            <input 
                            class="mdl-textfield__input"
                            type="text"
                            name="char_name"
                            value=""
                            >
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input 
                            class="mdl-textfield__input"
                            type="text"
                            name="char_race"
                            value=""
                            >
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input 
                            class="mdl-textfield__input"
                            type="text"
                            name="char_class"
                            value=""
                            >
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input 
                            class="mdl-textfield__input"
                            type="text"
                            name="char_type"
                            value=""
                            >
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input 
                            class="mdl-textfield__input"
                            type="text"
                            name="char_alignment"
                            value=""
                            >
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
		            {% if username %}
                        <td>
                            <button
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                            type="submit"
                            name="button_press"
                            value="insert"
                            >
                               INSERT
                            </button>
                        </td>
		            {% else %}
                        <td>
                        <button
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        type="submit"
                        disabled=True
                        >
                           INSERT
                        </button>
                    </td>
	   	            {% endif %}
                </tr>
            </tbody>
        </table>
	</form>
    </div>
</div>
{% endblock %}
