<!--
This is the template for single Character view, which also
shows that Character's spells, abilities, and dungeons.
-->

{% extends "base_v2.html" %}
{% block title %}
    Character Page: Represents a single character viewed from the Characters table
{% endblock %}

{% block content %}

{% if char %}
<div class="single_attribute_container_char_page">

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand"> 
            <h4>
		        {{char[0]}}
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            Character Name
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons md-36">face</i>
        </div>
    </div>

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4 class="char_details">
                <u>Race:</u>  {{char[1]}}
	        </h4>
	        <h4 class="char_details">
                <u>Class:</u>  {{char[2]}}
            </h4>
	        <h4 class="char_details">
                <u>Creature Type:</u>  {{char[3]}}
            </h4>
	        <h4 class="char_details">
                <u>Alignment:</u>  {{char[4]}}
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            Character Details
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons md-36">menu_book</i>
        </div>
    </div>

{% if username %}
    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
		            <th>Spell</th>
                    <th>Spell Damage</th>
		        </tr>
            </thead>
            <tbody>
            {% if char_spells %}
            {% for char_spell in char_spells %}
            <tr>
                <td>
                    {{char_spell[1]}}
                </td>
                <td>
                    {{char_spell[2]}}
                </td>
		    </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
		    Spells of {{username}}'s {{char[0]}}
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">stars</i>
        </div>
    </div>


    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Ability</th>
                        <th>Ability Damage</th>
                        <th>Dungeon</th>
                    </tr>
                </thead>
                <tbody>
                {% if char_abilities %}
                {% for char_ability in char_abilities %}
                    <tr>
                        <td>
                            {{char_ability[1]}}
                        </td>
                        <td>
                            {{char_ability[2]}}
                        </td>
                        <td>
                            {{char_ability[3]}}
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
		    Abilities of {{username}}'s {{char[0]}}
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">sports_martial_arts</i>
        </div>
    </div>

{% else %}

<div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Spell</th>
                        <th>Spell Damage</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                {% if char_spells %}
                {% for char_spell in char_spells %}
                <tr>
                    <td>
                        {{char_spell[1]}}
                    </td>
                    <td>
                        {{char_spell[2]}}
                    </td>
                    <td>
                        {{char_spell[3]}}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
		    Spells of {{char[0]}}
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">explore</i>
        </div>
    </div>

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Ability</th>
                        <th>Ability Damage</th>
                        <th>Dungeon</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                {% if char_abilities %}
                {% for char_ability in char_abilities %}
                    <tr>
                        <td>
                            {{char_ability[1]}}
                        </td>
                        <td>
                            {{char_ability[2]}}
                        </td>
                        <td>
                            {{char_ability[3]}}
                        </td>
                        <td>
                            {{char_ability[4]}}
                        </td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
        </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
		Abilities of {{char[0]}}
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">explore</i>
        </div>
    </div>
{% endif %}
</div>

{% else %}
<h1>No Character Selected Yet</h1>
{% endif %} 

{% endblock %}
