{% extends "base.html" %}
{% block title %}
    Dungeon Selection:   displays 1-2 tables, one of all dungeons from all users on the site, and another for dungeons made from a sole selected user. If the user is not selected, then only the "all dungeons" table displays. This page also allows for insertion into the Dungeons table, as well as updates and deletes.
{% endblock %}

{% block content %}

<div class="table_data table_left mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">All Characters View</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Char Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Creature Type</th>
                    <th>Alignment</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="mdl-textfield normal fat mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="Bardy">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="Half-Elf">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield thin mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="Bard">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="Humanoid">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="Lawful Good">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <button class="mdl-button delete mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <i class="material-icons md-18">close</i>
                        </button>
                    </td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Update
                        </button>
                    </td>
                    <td>
                        <a class="view_link" href="/charPage.html">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="table_data table_right mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Only Ranger_Rick's Characters</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table th-right-align mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Char Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Type</th>
                    <th>Alignment</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Bard
                    </td>
                    <td>
                        Half-Elf
                    </td>
                    <td>
                        Bard
                    </td>
                    <td>
                        Humanoid
                    </td>
                    <td>
                        Lawful Good
                    </td>
                    <td>
                        <a class="view_link" href="/charPage.html">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>








<div class="table_data table_left mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Create a new character:</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Type</th>
                    <th>Alignment</th>
                    <th>Insert</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="mdl-textfield fat mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield normal mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" value="">
                            <label class="mdl-textfield__label" ></label>
                        </div>
                    </td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                           INSERT
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}