{% extends "base.html" %}
{% block title %}
    Dungeon Page:    represents a single dungeon viewed from the Dungeons table
{% endblock %}

{% block content %}


<div class="char_container content_div">
    <h1>Zora's Domain</h1>
    <br>
</div>

<div class="dungeon_info content_div">
    <h1>Dungeon Description</h1><br>
    <h5>"A cave with water and fountains"</h5>
</div>

<div class="dungeon_info content_div">
    <h1>Dungeon Details</h1><br>
    <table class="table">
        <tr>
            <th scope="col">dungeon type</th>
            <th scope="col">damage multiplier</th>
        </tr>
        <tr>
            <td>Demon</td>
            <td>2</td>
        </tr>
    </table>
</div>






{% endblock %}