{% extends "base.html" %}
{% block title %}
    Dungeon Selection:   displays 1-2 tables, one of all dungeons from all users on the site, and another for dungeons made from a sole selected user. If the user is not selected, then only the "all dungeons" table displays. This page also allows for insertion into the Dungeons table, as well as updates and deletes.
{% endblock %}

{% block content %}

    <div class="left_div_container content_div">
        <h1>All Dungeons</h1><br>
        <table class="table">
            <tr>	
                <th scope="col">Dungeon Name</th>
                <th scope="col">Dungeon Type</th>
                <th scope="col">Dungeon Description</th>
                <th scope="col">Dungeon Damage Multiplier</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
                <th scope="col">View</th>
            </tr>
	    {% for dungeon in all_dungeons %}
            <tr>
		<td><input type="text" value={{dungeon[0]}}></td>
		<td><input type="text" value={{dungeon[1]}}></td>
		<td><input type="text" value={{dungeon[2]}}></td>
		<td><input type="number" value={{dungeon[3]}}></td>
		<td><input type="submit" value="Delete"></td>
                <td><input type="submit" value="Update"></td>
		<td><a class="nav-link view_button" href="dungeonPage.html">View</a></td>
            </tr>
	    {% endfor %}
        </table>
    </div>

    <div class="div_col content_div">
	    {% if username %}
	    <h1>{{username[0][0]}}'s Dungeons</h1><br>
            <table class="table">
            <tr>
                <th scope="col">Character Name</th>
		<th scope="col">Ability Name</th>
                <th scope="col">Dungeon Name</th>
                <th scope="col">Dungeon Type</th>
                <th scope="col">Dungeon Description</th>
                <th scope="col">Dungeon Damage Multiplier</th>
		<th scope="col">View</th>
            </tr>
	    {% for user_dungeon in user_dungeons %}
            <tr>
		<td>{{user_dungeon[0]}}</td>
		<td>{{user_dungeon[1]}}</td>
		<td>{{user_dungeon[2]}}</td>
		<td>{{user_dungeon[3]}}</td>
		<td>{{user_dungeon[4]}}</td>
		<td>{{user_dungeon[5]}}</td>
                <td><a class="nav-link view_button" href="dungeonPage.html">View</a></td>
            </tr>
	    {% endfor %}
            </table>
	    {% else %}
	    <h1>Please Select a User to View User-Specific Dungeons</h1><br>
	    {% endif %}

    </div>

    <div class="break"></div> <!-- break to a new row -->

    <!-- HTML form  -->
    <div class="bottom_div_container content_div">
        <h3 class="create_char_h3">Create a New Dungeon</h3>

        <form class="footer_form" method="POST">
            <table class="table">
                <tr>
                    <th scope="col">Dungeon Name</th>
                    <th scope="col">Dungeon Type</th>
                    <th scope="col">Dungeon Description</th>
                    <th scope="col">Damage Multiplier</th>
                </tr>
                <tr>
                    <th><input type="text" value=""></th>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                </tr>
            </table>

            <input type="submit" value="INSERT">

        </form>

    </div>





{% endblock %}
