<!--
This is the template for single Dungeon view view

References used here:
Citation for:
-   General usage and understanding throughout the project:
-   Routes/Jinja templating
Scope: Module
Date: June 26th-August 5th, 2023
Accessed by: Havensw, Houghtjo
Adapted from:
-   Source Title: osu-cs340-ecampus / flask-starter-app
-   Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app#setup

Citation for:
-  Using Flask flash() messages with categories
Scope: Function
Date Accessed: July 22nd, 2023
Copied with modifications by: Havensw
Adapted from:
-   Source Title: Message Flashing
-   Source URL: https://flask.palletsprojects.com/en/2.3.x/patterns/flashing/

Citation for:
-  Custom Google MDL CSS styling attributes applied throughout our HTML Pages
Scope: Module
Date Accessed: July 22nd-July 31st, 2023
Accessed by: Havensw
Adapted from component examples (Tables, Cards, Navbar, Inputs):
-   Source URL: https://getmdl.io/components/
-->
{% extends "base_v2.html" %}
{% block title %}
    Dungeon Page:    represents a single dungeon viewed from the Dungeons table
{% endblock %}

{% block content %}

{% if dungeon %}
<div class="single_attribute_container">

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand"> 
            <h4>
		{{dungeon[0]}}
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            Dungeon Name
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons md-36">public</i>
        </div>
    </div>

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                {{dungeon[2]}}
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            Dungeon Description
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons md-36">menu_book</i>
        </div>
    </div>

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Dungeon Type</th>
                    <th>Damage Multiplier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
			    {{dungeon[1]}}
                    </td>
                    <td>
			    {{dungeon[3]}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            Dungeon Details
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">explore</i>
        </div>
    </div>

<!--END div class single_attribute_container-->
</div>
<!--</form>-->

{% else %}

<h1>No Dungeon Selected Yet</h1>


{% endif %} 





{% endblock %}
