{% extends "base.html" %}
{% block title %}
    Welcome to User_Accounts Table View
{% endblock %}

{% block content %}

    <div class="left_div_container content_div">
        <h1>User_Accounts Administrator View</h1><br>
        <table class="table">
            <tr>
                <th scope="col">username</th>
                <th scope="col">password</th>
                <th scope="col">email</th>
            </tr>
            {% for row in user_rows %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="div_col content_div">
        <h1>Dungeons and Dragon's Character Manager</h1>
        <h3>
            <p>Select a Specific User for a more personalized view:</p>
        </h3>
        <div>
            <form class="footer_form" method="POST" action="/">
                <label for="Characters"></label><select id="Characters" name="Characters">
                        <!-- value attribute example below would be a composite
                        between Table Name and the character_id. Flask/Jina will generate
                        all of this iteratively.
                        On submit, this would be sent back to the
                        backend and that way it's a unique identifier to create the
                        correct SQL INSERT Statements -->
                        <option value="" selected="selected" disabled>Select User</option>
                        <option value="Daniel">Daniel</option>
                        <option value="wdean123">wdean123</option>
                        <option value="joe_user5">joe_user5</option>
                        <option value="new_user01">new_user01</option>
                    </select>
                <input type="submit" value="SELECT">
            </form>
        </div>
    </div>

        <div class="break"></div>
    <!-- HTML form  -->
    <div>
        <h3>Insert a New User</h3>

        <form class="footer_form" method="POST" action="/">
            <input type="text" id="users_name" name="name" placeholder="username">
            <input type="text" id="password" name="description" placeholder="password">
            <input type="email" id="email" name="description" placeholder="email">
        <input id="Users_INSERT" type="submit" value="INSERT">
        </form>

    </div>


{% endblock %}