{% extends "base.html" %}
{% block title %}
    Characters:Items Tables (M:N), with Inventory_Items as Junction Table
{% endblock %}

{% block content %}
    <div class="left_div_container content_div">
        <h1>All Inventory Items</h1><br>
        <table class="table">
            <tr>
                <th scope="col">character_name</th>
                <th scope="col">item_name</th>
                <th scope="col">item_description</th>
                <th scope="col">quantity</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
                <th scope="col">View</th>
            </tr>
            {% for row in left_table_rows %}
            <tr>
                <th><input type="text" value="{{row[0]}}"></th>
                <td><input type="text" value="{{row[1]}}"></td>
                <td><input type="text" value="{{row[2]}}"></td>
                <td><input type="number" value="{{row[3]}}" min="1" max="2147483647"></td>
                <td><input type="submit" value="X"></td>
                <td><input type="submit" value="Update"></td>
                <td><a class="nav-link view_button" href="itemPage.html">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="div_col content_div">
        <h1>joeuser5's Inventory Items Items List</h1>
        <table class="table">
            <tr>
                <th scope="col">name</th>
                <th scope="col">item_name</th>
                <th scope="col">item_description</th>
                <th scope="col">quantity</th>
                <th scope="col">View</th>
            </tr>
            {% for row in right_table_rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td><a class="nav-link view_button" href="itemPage.html">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="break"></div>
    <!-- HTML form  -->
    <div>
        <h3>Insert a new item into inventory for a character:</h3>

        <form class="footer_form" method="POST" action="/Inventory_Items.html">
        <div>
            <label for="Characters">Choose a Character:</label>
            <select id="Characters" name="Characters">
                <!-- value attribute example below would be a composite
                between Table Name and the character_id. Flask/Jina will generate
                all of this iteratively.
                On submit, this would be sent back to the
                backend and that way it's a unique identifier to create the
                correct SQL INSERT Statements -->
                <option value="" selected="selected" disabled>Select Char</option>
                {% for char in char_list %}
                <option value="{{char[0]}}">{{char[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <select id="Items" name="Items">
                <option value="" selected="selected" disabled >Select Item</option>
                {% for item in item_list %}
                <option value="{{item[0]}}">{{item[0]}}</option>
                {% endfor %}
            </select>
        </div>

<input type="number" id="quantity" name="quantity" placeholder="Item quantity" min="1" max="2147483647">

<input type="submit" value="INSERT">
</form>

</div>

{% endblock %}