<!--
This is the template for single Items view

References used here:
Citation for:
-   General usage and understanding throughout the project:
-   Routes/Jinja templating
Scope: Module
Date: June 26th-August 5th, 2023
Accessed by: Havensw, Houghtjo
Adapted from:
-   Source Title: osu-cs340-ecampus / flask-starter-app
-   Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app#setup

Citation for:
-  Using Flask flash() messages with categories
Scope: Function
Date Accessed: July 22nd, 2023
Copied with modifications by: Havensw
Adapted from:
-   Source Title: Message Flashing
-   Source URL: https://flask.palletsprojects.com/en/2.3.x/patterns/flashing/

Citation for:
-  Custom Google MDL CSS styling attributes applied throughout our HTML Pages
Scope: Module
Date Accessed: July 22nd-July 31st, 2023
Accessed by: Havensw
Adapted from component examples (Tables, Cards, Navbar, Inputs):
-   Source URL: https://getmdl.io/components/
-->

{% extends "base_v2.html" %}
{% block title %}
    Item Page:   represents a single item viewed from Items table
{% endblock %}

{% block content %}

{% if item %}
    <div class="single_attribute_container">

        <div class="mdl-card-attribute mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    {{item[0]}}
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                item_name
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">construction</i>
            </div>
        </div>

        <div class="mdl-card-attribute mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    {{item[1]}}
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                item_description
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">info</i>
            </div>
        </div>

        <div class="mdl-card-attribute mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4>
                    {% if item[2] == 1 %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                is_weapon?
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">restaurant</i>
            </div>
        </div>

    <!--END div class single_attribute_container-->
    </div>
{% else %}
    <h1>No Item Selected Yet</h1>
{% endif %}





{% endblock %}