{% extends "base.html" %}
{% block title %}
    Item Modification Page
{% endblock %}

{% block content %}
    <div class="left_div_container content_div">
        <h1>Items</h1><br>
        <table class="table">
            <tr>

                <th scope="col">item_name</th>
                <th scope="col">item_description</th>
                <th scope="col">is_weapon?</th>
            </tr>
            {% for row in item_rows %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="break"></div>
    <!-- HTML form  -->
    <div>
        <h3>Create a new item:</h3>

        <form class="footer_form" method="POST" action="/Items.html">
            <input type="text" id="item_name" name="name" placeholder="Item name" min="1" max="2147483647">
            <input type="number" id="item_description" name="description" placeholder="Item description" min="1" max="2147483647">
            <label for="is_weapon">Is weapon?</label>
            <select id="is_weapon" name="is_weapon">
                <option value="" selected="selected" disabled>Select</option>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        <input type="submit" value="INSERT">
        </form>

</div>

{% endblock %}