{% extends "base_v2.html" %}
{% block title %}   
    Item Selection:   displays 1-3 tables, one of all items from characters made from all users on the site, and another for items held by a character made from a sole selected user. If the user is not selected, then only the "all items" table displays. This page also allows for insertion into the Inventory_Items table for a given character, as well as updates and deletes.
{% endblock %}

{% block content %}
<div class="table_data table_left mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">All Inventory Items View</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Char Name</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for row in left_table_rows %}
                <form action="/itemSelection.html" method="POST">
                    <tr class="tr_with_forms">
                        <td>
                            <div class="mdl-textfield normal mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="character_name" value="{{row[0]}}">
                                <label class="mdl-textfield__label" ></label>
                            </div>
                        </td>
                        <td>
                            <div class="mdl-textfield normal mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="item_name" value="{{row[1]}}">
                                <label class="mdl-textfield__label" ></label>
                            </div>
                        </td>
                        <td>
                            <div class="mdl-textfield fatter mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="item_description" value="{{row[2]}}">
                                <label class="mdl-textfield__label" ></label>
                            </div>
                        </td>
                        <td>
                            <div class="mdl-textfield thinner mdl-js-textfield">
                                <input class="mdl-textfield__input" type="number" min="1" name="item_quantity" value="{{row[3]}}">
                                <label class="mdl-textfield__label" ></label>
                            </div>
                        </td>
                        <td>
                            <button class="mdl-button delete mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                            type="submit" name="delete_btn" value="inventory_id={{row[4]}}">
                                <i class="material-icons md-18">close</i>
                            </button>
                        </td>
                        <td>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                    type="submit" name="update_btn" value="inventory_id={{row[4]}}">
                                Update
                            </button>
                        </td>
                        <td>
                            <a class="view_link" href="/itemPage.html/item_id={{row[5]}}">View</a>
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="table_data table_right mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
            {% if right_table_rows %}
                Only Items Belonging to Characters of {{right_table_rows[0][0]}}
            {% elif username is none %}
                Select user from userAccounts page to view their Character's inventory items here.
            {% else %}
                Username '{{username}}' has no characters with any items in their inventory.
            {% endif %}
        </h2>
    </div>
    {% if username is not none  %}
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table th-right-align mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Char Name</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
            {% for row in right_table_rows %}
                <tr>
                    <td>
                        {{row[1]}}
                    </td>
                    <td>
                        {{row[2]}}
                    </td>
                    <td>
                        {{row[3]}}
                    </td>
                    <td>
                        {{row[4]}}
                    </td>
                    <td>
                        <a class="view_link" href="/itemPage.html/item_id={{row[5]}}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>








<div class="table_data table_left mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Put a new item into inventory for a character:</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <form action="/itemSelection.html" method="POST">
                    <tr>
                        <td>
                            <select id="Characters" name="character_id_name">
                                <option value="" selected="selected" disabled>Select Char</option>
                                {% for char in char_list %}
                                <option value="{{char[0]}},{{char[1]}}">{{char[1]}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select id="Items" name="item_id_name">
                                <option value="" selected="selected" disabled >Select Item</option>
                                {% for item in item_list %}
                                <option value="{{item[0]}},{{item[1]}}">{{item[1]}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <div class="mdl-textfield normal mdl-js-textfield">
                                <input class="mdl-textfield__input" name="item_quantity" type="number" min="1" value="">
                                <label class="mdl-textfield__label" ></label>
                            </div>
                        </td>
                        <td>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                    type="submit" name="insert_btn">
                               INSERT
                            </button>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


<!--   &lt;!&ndash; HTML form  &ndash;&gt;-->
<!--    <div>-->
<!--        <h3>Insert a new item into inventory for a character:</h3>-->

<!--        <form class="footer_form" method="POST" action="/Inventory_Items.html">-->
<!--        <div>-->
<!--            <label for="Characters">Choose a Character:</label>-->
<!--            <select id="Characters" name="Characters">-->
<!--                <option value="" selected="selected" disabled>Select Char</option>-->
<!--                {% for char in char_list %}-->
<!--                <option value="{{char[0]}}">{{char[0]}}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
<!--            <select id="Items" name="Items">-->
<!--                <option value="" selected="selected" disabled >Select Item</option>-->
<!--                {% for item in item_list %}-->
<!--                <option value="{{item[0]}}">{{item[0]}}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->

<!--<input type="number" id="quantity" name="quantity" placeholder="Item quantity" min="1" max="2147483647">-->

<!--<input type="submit" value="INSERT">-->
<!--</form>-->