{% extends "base_v2.html" %}
{% block title %}
    Item Page:   represents a single item viewed from Items table
{% endblock %}

{% block content %}

<div class="single_attribute_container">

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                Healing Potion
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            item_name
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">construction</i>
        </div>
    </div>

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                heals 25 hp
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            item_description
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">info</i>
        </div>
    </div>

    <div class="mdl-card-attribute mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                False
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            is_weapon?
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">restaurant</i>
        </div>
    </div>

<!--END div class single_attribute_container-->
</div>







{% endblock %}